
<body>
<div class="container">
<h1> Getting Along in the Car</h1>
<h2>{{message}}</h2>

        <p id=count >{{count}}</p>

        <form method="POST" action="/car-ride-rewards">
          <input type="submit"/>
        </form>

</div>
</body>
<style>
    body {
        max-width: 600px;
        margin: auto;
        background: aquamarine;
        background-image: url("static/icecream.jpeg");
        opacity: 80
    }

    p {
        margin: 80 80 80 80;
        font-size: 100;
    }

    .container {
        margin: 80 80 80 80;
    }
    input {
        margin-left: 80;
    }
</style>